body {
    background-color:orchid
}

img {
    height:200px;
    width:200px;
}

.title {
    background-image:url(img/space.png);
}

.navigation {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.class {
    display:flex;
    flex-wrap:wrap;
}

#title_size {
    color:aquamarine;
    font-size:65px
}

#planets {
    background-color:darkorchid;
}

#enemies {
    background-color:azure;
}

#classes {
    background-color:aqua;
}